main {
  width: 70%;
  min-height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card {
  width: 100%;
}

a {
  margin: 1rem;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

mat-card-content {
  display: flex;
  justify-content: space-between;
}

.done {
  mat-card-title {
    text-decoration: line-through;
  }
}
