<main>
  <mat-card *ngIf="todo$| async" [ngClass]="(todo$ | async)?.done ? 'done' : '' ">
    <mat-card-header>
      <mat-card-title>
        {{(todo$ | async)?.title}}
      </mat-card-title>
      <mat-chip-list>
        <mat-chip *ngIf="!(todo$ | async)?.done" selected color="primary">TO DO</mat-chip>
        <mat-chip *ngIf="(todo$ | async)?.done" selected color="accent">DONE</mat-chip>
      </mat-chip-list>
    </mat-card-header>
    <mat-card-content>
      {{(todo$ | async)?.description}}
    </mat-card-content>
    <mat-card-footer>
      <a mat-raised-button color="accent" [routerLink]="['']">Back</a>
    </mat-card-footer>
  </mat-card>
</main>
