<main>
  <mat-list>
    <h3 mat-subheader>Todos</h3>
    <mat-list-item *ngFor="let todo of todos$| async;" [ngClass]="todo.done ? 'done' : '' ">
      <mat-icon mat-list-icon>note</mat-icon>
      <a [routerLink]="['/'+todo.id]" mat-line>{{todo.title}}</a>
      <mat-checkbox [checked]="todo.done" (change)="toggleTodo(todo)"></mat-checkbox>
    </mat-list-item>
  </mat-list>
  <a class="fab" mat-mini-fab [routerLink]="['add']">
    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
  </a>
</main>
