main {
  width: 70%;
  min-height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .fab {
    align-self: flex-end;
  }
}

a {
  text-decoration: none;
  color: black;
}

mat-list {
  width: 100%;
  margin-bottom: 1rem;
}

.done {
  background-color: #b6b6b6;
  & a {
    text-decoration: line-through;
  }
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}
