<main>
  <form [formGroup]="formGroup" (submit)="submit()">
    <mat-card>
      <mat-form-field>
        <input matInput placeholder="Entrez un titre" formControlName="title" required>
        <mat-error>Ce champ est requis</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Entrez une description" formControlName="description">
      </mat-form-field>

      <div class="form-buttons">
        <button type="button" (click)="formGroup.reset()" mat-raised-button color="warn">Annuler</button>
        <button type="submit" mat-raised-button color="primary">Valider</button>
      </div>
    </mat-card>
  </form>
</main>
