main {
  width: 70%;
  min-height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 100%;
}

mat-card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-buttons {
  display: flex;
  justify-content: space-evenly;
}
